name: Test

on:
  pull_request:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
      - '.github/workflows/test-backend.yml'

env:
  DATABASE_URL: postgres://postgres:postgres@localhost:5432/fkm_time_test
  WCA_ORIGIN: http://localhost:3000
  WCA_CLIENT_ID: example-application-id
  WCA_CLIENT_SECRET: example-secret
  WCA_LIVE_API_ORIGIN: http://localhost:4000/api
jobs:
   test_backend:
      name: Backend
      runs-on: ubuntu-latest
      services:
        postgres:
          image: postgres
          env:
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: postgres
            POSTGRES_DB: fkm_time_test
          options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5
          ports:
            - 5432:5432
        dummy-wca:
          image: maxidragon/dummy-wca:latest
          ports:
            - 3000:3000

      strategy:
        matrix:
          node-version: [22.x]
      steps:
        - uses: actions/checkout@v4
        - name: Use Node.js ${{ matrix.node-version }}
          uses: actions/setup-node@v6
          with:
            node-version: ${{ matrix.node-version }}
            cache-dependency-path: "backend"
        - name: Install dependencies
          working-directory: 'backend'
          run: npm install
        - name: Run ESlint
          working-directory: 'backend'
          run: npm run lint
        - name: Check formatting
          working-directory: 'backend'
          run: npm run format:check
        - name: Generate prisma
          working-directory: 'backend'
          run: npx prisma generate
        - name: Build backend
          working-directory: 'backend'
          run: npm run build
        - name: Push schema to database
          working-directory: 'backend'
          run: npx prisma db push
        - name: Seed test database
          working-directory: 'backend'
          run: npm run prisma:seed-test
        # - name: Run E2E tests
        #   working-directory: 'backend'
        #   run: npm run test:e2e
